* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 100px;
    width: 300px;
    /* box-shadow: -1rem 0 3rem #000;
    min-width: 200px;
    background: #17141d !important; */
}

.box1{ background-color: hotpink; }
.box2{ background-color: #17141d; }
.box3{ background-color: yellow; }
.box4{ background-color: yellowgreen; }
.box5{ background-color: teal; }
.box6{ background-color: indigo; }
.box7{ background-color: chocolate }
.box8{ background-color: gold }
.box9{ background-color: crimson; }
.box10{ background-color: seagreen; }

.container {
    /* display: inline-flex; */
    display: flex;
    border: 10px solid goldenrod;
    min-height: 100vh;
    flex-wrap: wrap;
}